<% personal_info = @resume.resume_personal_information %>

<div id="personal_info_wrapper">
<div id="personal_info">
	<h1 id="resume_name"><%= personal_info.full_name %></h1>
	
	<% if !@resume.resume_setting.hide_personal_info %>
	
		<ul>
			<% if !personal_info.email.empty? %>
				<li><strong>Email:</strong> <a href="mailto:<%= personal_info.email %>"><%= personal_info.email %></a></li>
			<% end %>
			<% if !personal_info.website.empty? %>
				<li><strong>Website:</strong> <a href="<%= personal_info.website %>" target="_blank"><%= personal_info.website %></a></li>
			<% end %>
			<% if !personal_info.phone_number.empty? %>
				<li><strong>Phone:</strong> <a><%= personal_info.phone_number %></a></li>
			<% end %>
			<% if !personal_info.fax_number.empty? %>
				<li><strong>Fax:</strong> <a><%= personal_info.fax_number %></a></li>
			<% end %>
		</ul>
		
		<% if !personal_info.bio.empty? %>
		  <div id="personal_info_bio">
			  
		  </div>
		<% end %>
	
	
	<% end %>
	
</div>

<%= image_tag "resume/male.png", :id => :user_photo %>

<div class="clearfloat"></div>
</div>