<% 
@title_for_layout = "Dashboard"
@body_id = "dashboard"
%>

<% if !@missing.empty? && @profile.hide_profile_notification == false %>
    <div id="profile_complete_notice" class="result_success">
        <p>Your profile is yet completed. In order to complete it, you need to fill in <%= @missing.join(", ") %>.
            <span id="hide_profile_complete_notice">Hide this notice</span>
        </p>
    </div>
<% end %>

<h2 id="thoughtbox_header">Share your thought</h2>

<div class="blue_region" id="thoughtbox_wrapper">
	
	<%= render :partial => "shared/user_image", :locals => {:photo => @profile.photo} %>
	
	<div id="thoughtbox">
		<div id="thoughtbox_left">
			<div id="thoughtbox_right">
				<%= text_field_tag "thoughtbox_message", "Type your thought here..." %>
			</div>
		</div>
		<%= image_tag "resume/gobutton.png", :id => "share_thought", :alt => "Share Thought" %>
	</div>
	<div class="clearfloat"></div>
	<div id="thoughts_chars_count_wrapper"><span id="thoughts_chars_count">140</span> characters left</div>
	<div class="clearfloat"></div>
</div>

<div class="clearfloat"></div>

<!-- left col starts -->
<div class="left_col">
    
    <!-- Your Resumes starts -->
	<h2>Your resumes</h2>
	<div id="your_resumes" class="blue_region">
		<ul class="item_list" id="resumes_list">
			<% @resumes.each do |resume| %>
			<li class="white_region">
				<div class="left">
					<%= link_to resume.title, edit_resume_path(resume) %>
					<p class="timestamp">
						Last updated <%= resume.updated_at.strftime("%b %d, %Y %H:%M %p") %>
					</p>
				</div>
				<div class="options">
          <a title="Delete" class="delete" href="/resumes/<%=resume.id%>/delete"></a>
					<a target="_blank" title="View" class="view_live" href="/<%=resume.url%>"></a>
					<%= link_to "", edit_resume_path(resume), {:class => :edit} %>
					<a title="Analytics" class="analytic" href="/resumes/analytic/1"></a>
				</div>
			</li>
			<% end %>
		</ul>
		<%= link_to (image_tag "resume/createAResume.png", :alt => "Create Resume"), new_resume_path %>
	</div>
	<!-- Your Resumes ends -->
	
	<!-- Resume Statistics starts -->
	<h2>Your most viewed resumes</h2>
	<div id="resume_statistics" class="blue_region">
	    <ul class="item_list" id="popular_resumes">
	        <% @popular_resumes.each do |resume| %>
	            <li class="white_region">
	                <div class="left">
	                    <%= link_to resume.title, edit_resume_path(resume) %>
	                </div>
	                <div class="options">
	                    <a class="analytic"></a>
	                    <span><strong><%= resume.views %></strong></span>
	                </div>
	            </li>
	        <% end %>
	    </ul>
	</div>
	<!-- Resume Statistics ends  -->
	
	<!-- Who's viewed your resumes starts -->
	<h2>Who's viewed your resumes</h2>
	<div id="resume_viewers" class="blue_region">
	    <ul class="item_list" id="resume_viewers">
	        <% @resume_viewers.each do |user| %>
	            <li>
	                <%= render :partial => "shared/user_image", :locals => {:photo => user.profile.photo} %>
	                <div class="white_region">
	                    <div class="left">
	                        <%= link_to user.username, "" %>
	                        <p class="timestamp"><% %></p>
	                    </div>
	                </div>
	                <div class="clearfloat"></div>
	            </li>
	        <% end %>
	    </ul>
	</div>
	<!-- Who's viewed your resumes ends -->
	
</div>
<!-- left col ends -->

<!-- right col starts -->
<div class="right_col">
	<h2>Your profile</h2>
	<div class="blue_region" id="your_profile">
		<%= render :partial => "shared/user_image", :locals => {:photo => @profile.photo} %>
		<ul class="white_region" id="your_profile_header">
			<li id="your_profile_name"><%= @profile.first_name %> <%= @profile.last_name %></li>
			<li>
			<% if !@profile.job_title.empty? then %>
				<%= @profile.job_title %>
			<% else %>
				<a class="edit_profile_btn">Edit your profile</a>
			<% end %>
			</li>
		</ul>
	    <div class="clearfloat"></div>
    </div>
</div>
<!-- right col ends -->

<div class="clearfloat"></div>