<div class="section_wrapper">
  <h2 class="header_tag"><%= @section_names["references"] %></h2>
  <ul>
    <% @resume.resume_references.each do |ref| %>
      <li>
        <div class="reference_name"><%= ref.name %></div>
        <div class="reference_title"><%= ref.title %></div>
        <div class="reference_organization"><%= ref.organization %></div>
        <%= obfuscate_email ref.email unless ref.email.blank? %>
      </li>
    <% end %>
  </ul>
</div>