<div id="header_wrapper">
	
	<div id="header">
	
		<h1 id="app_logo"><a href="/">Killer Resume Builder</a></h1>
		
			<% if logged_in? %>
			
			<ul id="top_panel">
				<li><a class="last" href="/feedback">Feedback</a></li>
				<li><a href="/pages/tour">Tour</a></li>
				<li><%= link_to "Blog", :controller => :blogs, :action => :index %></li>
				<li><%= link_to "Dashboard", :controller => :dashboard, :action => :index %></li>
				<li id="username_tab">
					<span>Hi <%= current_user.username %></span>
						<div style="display: none;" id="account_links">
							<ul class="white_region">
								<li>
									<%= link_to("Profile", profile_path(current_user.username), :class => "view_profile profile_control_links") %>
								</li>
								<li><a class="edit_profile_btn profile_control_links" href="/profile/515097306">Edit Profile</a></li>
								<li><%= link_to "Logout", logout_path, :class => "logout profile_control_links"  %></li>
								<li class="omega"><a class="close profile_control_links" id="close_account_links">Close</a></li>
							</ul>
						</div>
				</li> 
			</ul>
			<% else %>
			
				<%= link_to image_tag("resume/login.png", :alt => "Login"), login_path, :id => "login_link" %>

				<%= link_to(image_tag("resume/signup.png"), signup_path, :id => "signup_link") %>
				
			<% end %>
			
			
		
		<div class="clearfloat"></div>
		
				
	</div>
	
	<div id="header_nav_wrapper">
		
	</div>
	
</div>