<div id="profile_overlay_wrapper" class="account_overlay_wrapper">
	<div class="account_overlay_left">
		
		
		<%= image_tag "uploads/#{@profile.photo}", :class => :user_image %>
		
		
		<%= image_tag "resume/changePhotoBtn.png", :id => "change_photo_btn" %>
		
	</div>
	<div class="account_overlay_right">
		<div class="inner">
			<div id="profile_image_cropper" style="display:none">
				<iframe width="100%" height="400" frameborder="0" style="border:0" src="profiles/upload_photo" id="photouploadiframe"></iframe>
				<!-- <div id="upload_image_preview" style="overflow-x:auto"></div>
				<div id="file-uploader">       
				    <noscript>          
				        <p>Please enable JavaScript to use file uploader.</p>
				        
				    </noscript>         
				</div> -->
				
			</div>
			<div id="profile_details_input">
			    <%= form_for @profile do |f| %>
				<h2><%= image_tag "resume/profileDetailsHeader.png", :alt => "Profile" %></h2>
				<div id="edit_profile_message" style="display:none"></div>
				<div class="form_row">
					<label>First Name</label>
					<%= f.text_field :first_name, :class => :textbox, :id => "profile_first_name" %>
				</div>
				<div class="form_row">
					<label>Last Name</label>
					<%= f.text_field :last_name, :class => :textbox, :id => "profile_last_name" %>
				</div>
				<div class="form_row">
					<label>City</label>
					<%= f.text_field :city, :class => :textbox, :id => "profile_city" %>
				</div>
				<div class="form_row">
					<label>State/Province</label>
					<%= f.text_field :state, :class => :textbox, :id => "profile_state" %>
				</div>
				<div class="form_row">
					<label>Country</label>
					<%= select "profile", "country_id", get_countries %>
				</div>
				<div class="form_row">
					<label>Postal Code</label>
					<%= f.text_field :postal_code, :class => :textbox, :id => "profile_postal_code" %>
				</div>
				<div class="form_row">
					<label>Job Function</label>
					<%= select "profile", "job_category_id", get_job_categories %>
				</div>
				<div class="form_row">
					<label>Industry</label>
					<%= select "profile", "job_industry_id", get_job_industries %>
				</div>
				<div class="form_row">
					<label>Title</label>
					<input id="profile_job_title" type="text" class="textbox" value="" />
				</div>
				<%= image_tag "resume/updateProfileBtn.png", :alt => "Update", "class" => 'account_overlay_update_btn', :id => "update_profile_btn" %>
				<input type="hidden" id="profile_id" value="<%= @profile.id %>" />

				<div class="clearfloat"></div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clearfloat"></div>
	<%= image_tag "resume/closeOverlay.png", :id => "close_profile_overlay", :class => "close_overlay" %>
</div>