<div id="profile_overlay_wrapper" class="account_overlay_wrapper">
	<div class="account_overlay_left">
		
    <%= image_tag current_user.gravatar_url, :class => "user_image" %>
		
		<%= image_tag "resume/changePhotoBtn.png", :id => "change_photo_btn" %>
		
	</div>
	<div class="account_overlay_right">
		<div class="inner">
			<div id="profile_image_cropper" style="display:none; height:400px">
        <div id="change_avatar">Change your avatar at <a href="http://www.gravatar.com" target="_blank" style="color:#4183C4">gravatar.com</a></div>
        <p style="margin-top:10px">We are using <%= current_user.email %></p>
        <p style="margin-top:10px">Your avatar change on gravatar.com might take a while to be updated by our system</p>
				
			</div>
			<div id="profile_details_input">
			    <%= form_for @profile do |profile_form| %>
				<h2><%= image_tag "resume/profileDetailsHeader.png", :alt => "Profile" %></h2>
				<div id="edit_profile_message" style="display:none"></div>
				<div class="form_row">
					<label>First Name</label>
					<%= profile_form.text_field :first_name, :class => :textbox, :id => "profile_first_name" %>
				</div>
				<div class="form_row">
					<label>Last Name</label>
					<%= profile_form.text_field :last_name, :class => :textbox, :id => "profile_last_name" %>
				</div>
				<div class="form_row">
					<label>City</label>
					<%= profile_form.text_field :city, :class => :textbox, :id => "profile_city" %>
				</div>
				<div class="form_row">
					<label>State/Province</label>
					<%= profile_form.text_field :state, :class => :textbox, :id => "profile_state" %>
				</div>
				<div class="form_row">
					<label>Country</label>
					<%= profile_form.select "country_id", get_countries, :selected => @profile.country_id %>
				</div>
				<div class="form_row">
					<label>Postal Code</label>
					<%= profile_form.text_field :postal_code, :class => :textbox, :id => "profile_postal_code" %>
				</div>
				<div class="form_row">
					<label>Job Function</label>
					<%= profile_form.select "job_category_id", get_job_categories, :selected => @profile.job_category_id %>
				</div>
				<div class="form_row">
					<label>Industry</label>
					<%= profile_form.select "job_industry_id", get_job_industries, :selected => @profile.job_industry_id %>
				</div>
				<div class="form_row">
					<label>Title</label>
					<input id="profile_job_title" type="text" class="textbox" value="" />
				</div>
				<%= image_tag "resume/updateProfileBtn.png", :alt => "Update", "class" => 'account_overlay_update_btn', :id => "update_profile_btn" %>
				<input type="hidden" id="profile_id" value="<%= @profile.id %>" />

				<div class="clearfloat"></div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="clearfloat"></div>
	<%= image_tag "resume/closeOverlay.png", :id => "close_profile_overlay", :class => "close_overlay" %>
</div>