<% @title_for_layout = "Home" %>

<div id="content">
			
			
<div id="home_intro_wrapper">
	<div id="home_intro">
		<h2 id="home_intro_header">Create Beautiful Online Resumes For Free</h2>
			<%= image_tag("resume/homeintroimage2.png", :alt => "Create Beautiful Online Resumes For Free", :id => "home_intro_image") %>
		<div id="cta">
			<a href="/signup">
				<%= image_tag("resume/signupCTA.png", :alt => "Signup") %>
			</a>
			<%= image_tag("resume/takeATour.png", :alt => "Take A Tour") %>
		</div>
	</div>
</div>

<div style="width: 1019px; margin: 20px auto;">
		<h2>Features</h2>

		<div id="home_features">
			<ul class="features_list">
				<li>
					<%= image_tag("Basic_set_PNG/pencil_32.png", :alt => "Create & Edit", :class => 'feature_illustration') %>
					<div class="feature_details">
						<h3>Create &amp; Edit</h3>
						<p>Creating a resume does not need to be as challenging anymore. Every resume created with Killer Resume Builder comes
						with a basic structure that is fully editable. You no longer have to pull your hair to come up with a structure for your
						resume. It's already there.</p>
					</div>
				</li>
				<li>
					<%= image_tag("Basic_set_PNG/gear_32.png", :alt => "Customize", :class => 'feature_illustration') %>
					<div class="feature_details">
						<h3>Customize</h3>
						<p>While Killer Resume Builder's basic structure is a great way to start, it might not work for you all the times. Hence
						customization. Your can rename sections, change the order that they appear on your 
						resume, or completely hide them. It's all at the tip of your fingers.</p>
					</div>
				</li>
				<li class="omega">
					<%= image_tag("Basic_set_PNG/globe_32.png", :alt => "Share", :class => 'feature_illustration') %>
					<div class="feature_details">
						<h3>Share</h3>
						<p>Our built-in sharing tools will allow your resume to be hooked up with top-notch social networks such as Facebook, 
						Twitter etc. You've come a long way pumping out your fantastic resume, it's our job to let the world know about it.</p>
					</div>
				</li>
			</ul>
	
			<ul class="features_list">
				<li>
					<%= image_tag("Basic_set_PNG/clipboard_32.png", :alt => "Theming", :class => 'feature_illustration') %>
					<div class="feature_details">
						<h3>Theming</h3>
						<p>Killer Resume Builder comes with a variety of resume themes for you to choose from. Your resume will appear more 
						appealing and attractive. Working hand in hand with customization, the theming feature let you choose the 
						right look and feel for your resume.</p>
					</div>
				</li>
				<li>
					<%= image_tag("Basic_set_PNG/statistics_32.png", :alt => "Analytics", :class => 'feature_illustration') %>
					<div class="feature_details">
						<h3>Analytics</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem 
						Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
						unknown printer took a galley of type and scrambled it to make a type specimen 
						book.</p>
					</div>
				</li>
				<li class="omega">
					<%= image_tag("Basic_set_PNG/flag_32.png", :alt => "Theft Report", :class => 'feature_illustration') %>
					<div class="feature_details">
						<h3>Theft Report</h3>
						<p>You work hard and merticulously to build your resume. You spend hours polishing it, making it look great. It is unwanted
						that your resume is plagiarized in any mean. Our theft reporting tool will notify you of any infringement possibility give
						you the support you need in response.</p>
					</div>
				</li>
			</ul>
	
			<ul class="features_list">
				<li>
					<%= image_tag("Basic_set_PNG/help_32.png", :alt => "Swift Support", :class => 'feature_illustration') %>
					<div class="feature_details">
						<h3>Swift Support</h3>
						<p>Have a question, concern or a technical problem? Simply contact us and we will get back to you very shortly.</p>
					</div>
				</li>
			</ul>
	
			<div class="clearfloat"></div>
		</div>

		<!-- <div id="featured_resumes">
			<ul>
				<li>
					<div class="featured_resume_snapshot">Featured (1)</div>
					<span class="featured_resume_title">Tri Vuong's resume</span>
				</li>
				<li>
					<div class="featured_resume_snapshot">Featured (2)</div>
					<span class="featured_resume_title">Peter Parker's resume</span>
				</li>
				<li>
					<div class="featured_resume_snapshot">Featured (3)</div>
					<span class="featured_resume_title">Johnny Depp's resume</span>
				</li>
			</ul>
		</div> -->

		<h2>From Our Blog</h2>

		<div class="blue_region" id="blog_post_list">
			<!-- Starting to render - blog_post_item -->
<div class="blog_post_shadow">
	<div class="blog_post">
		<!-- Starting to render - blog_post_date -->
<div class="blog_post_date">
	<div class="blog_post_month">Dec</div>
	<div class="blog_post_day">01</div>
	<div class="blog_post_year">2010</div>
</div>

<!-- Finished - blog_post_date -->
		<div class="blog_post_content">
			<h3><a href="/blog/when-it-rains-it-snows">When it rains, it snows</a></h3>
	
							<div class="blog_post_author">
				<a href="/blogs/authors/Megan-McDonald">Megan McDonald</a></div>
			
			<div class="blog_post_summary">Rumors abound about the supposed never-ending rain in Seattle. But, speaking as a Seattle native, it really isn?t so bad. Why don?t I mind a few drizzly days? Not only does the rain make our region green and beautiful, but as winter approaches, rain in the city means snow in the mountains. And for me, that means skiing - plenty of it.</div>
	
			<a href="/blog/when-it-rains-it-snows"><img alt="" src="/img/resume/readMoreBtn.png"></a>	
			<ul class="blog_post_options">
				<li class="blog_num_comments"><strong>0 comments</strong></li>
				<li class="blog_tags"><strong>Tags:</strong> bits-and-bytes, megan, skiing</li>
			</ul>
		</div>
		<div class="clearfloat"></div>
	</div>
</div>

<!-- Finished - blog_post_item -->
		</div>

		<div class="clearfloat"></div>
</div>
		</div>