<div class="section_wrapper">
	
	<h2 class="section_title_left"><span><%= @section_names['work_experience'] %></span></h2>
	
	<div class="section_details_right">
		<% for exp in @resume.resume_work_experiences %>
			<h3><%= exp.organization_name %></h3>
			<h4><%= exp.title %>, <%= exp.begin_date %> - <%= exp.end_date.blank? ? 'present' : exp.end_date %></h4>
			<div class="work_position_details">
				<%= RDiscount.new(exp.details).to_html.html_safe %>
			</div>
		<% end %>
	</div>
	
	<div class="clearfloat"></div>
	
</div>