<div class="box_top"></div>
<div class="box">
	
	<%= render :partial => "shared/section_name_editor", :locals => {:section => "education"} %>
	
	<div class="section_options">
		<div class="options_label">Options</div>
		<div class="add">
		  <%= link_to "Add a new entry", new_resume_resume_education_path(@resume) %>
		</div>
		<a class="disable_section" rel="education">Disable this section</a>
		<a class="enable_section" rel="education">Enable this section</a>
		<input type="hidden" class="section_mode" value="" />
	</div>
	
	<div id="sort_education" class="sortable">
		<% @resume.resume_educations.each do |edu| %>
		  <div id="edu_<%= edu.id %>" class="ui-state-default">
		    <h3 class="institution_name"><%= edu.institution %></h3>
		    <p class="degree">
		      <%= edu.degree %>
		      <br />
		      (<%= edu.begin_date %> - <%= edu.end_date %>)
		    </p>
		    <a href="/resumes/<%=@resume.id%>/resume_educations/<%=edu.id%>/edit" class="edit_link"></a>
		    <a href="/resumes/<%=@resume.id%>/resume_educations/<%=edu.id%>/delete" class="delete_link"></a>
		  </div>
		<% end %>
	</div>
	
	<div class="clearfloat"></div>

</div>
<div class="box_bottom"></div>