<div id="personal_information">
<%= fields_for @personal_info do |pi| %>
<div class="box_top"></div>
<div class="box">

<%= render :partial => "shared/section_name_editor" %>

<div class="clearfloat"></div>

<div class="form_row">
	<label for="ResumePersonalInformationFullName">Full Name</label>
	<div class="eg">(e.g. John Smith)</div>
	<%= pi.text_field :full_name, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationAddress">Address</label>
	<div class="eg">(e.g. 22 Baker St)</div>
	<%= pi.text_field :address, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationCity">City</label>
	<div class="eg">(e.g. Toronto)</div>
	<%= pi.text_field :city, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationState">State/Province</label>
	<div class="eg">(e.g. Ontario)</div>
	<%= pi.text_field :state, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationPhoneNumber">Phone Number</label>
	<div class="eg">(e.g. xxx xxx-xxxx)</div>
	<%= pi.text_field :phone_number, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationFaxNumber">Fax Number</label>
	<div class="eg">(e.g. xxx-xxx-xxx)</div>
	<%= pi.text_field :fax_number, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationEmail">Email</label>
	<div class="eg">(e.g. email@abc.com)</div>
	<%= pi.text_field :email, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationWebsite">Website</label>
	<div class="eg">(e.g. http://www.somewebsite.com)</div>
	<%= pi.text_field :website, :class => :textbox %>
</div>

<div class="form_row">
	<label>Bio / Summary</label>
	<div id="markItUpResumePersonalInformationBio" class="markItUp">
		<%= pi.text_area :bio, :class=> "markitup" %>
	</div>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationFacebook">Facebook</label>
	<div class="eg">(e.g. http://www.facebook.com/#!/trivuong)</div>
	<%= pi.text_field :facebook, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationTwitter">Twitter</label>
	<div class="eg">(e.g. @twitter)</div>
	<%= pi.text_field :twitter, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationFlickr">Flickr</label>
	<div class="eg">(e.g. http://www.flickr.com/)</div>
	<%= pi.text_field :flickr, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationLinkedin">Linkedin</label>
	<div class="eg">(e.g. http://www.linkedin.com/in/johnsmith)</div>
	<%= pi.text_field :linkedin, :class => :textbox %>
</div>

<div class="clearfloat"></div>
</div>
<div class="box_bottom"></div>
<% end %>
</div>