<div id="personal_information">
<%= f.fields_for :resume_personal_information do |pi| %>
<div class="box_top"></div>
<div class="box">

<%= render :partial => "shared/section_name_editor", :locals => {:section => "personal_information"} %>

<div class="clearfloat"></div>

<div class="form_row">
	<label for="ResumePersonalInformationFullName">Full Name</label>
	<%= pi.text_field :full_name, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationAddress">Address</label>
	<%= pi.text_field :address, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationCity">City</label>
	<%= pi.text_field :city, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationState">State/Province</label>
	<%= pi.text_field :state, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationPhoneNumber">Phone Number</label>
	<%= pi.text_field :phone_number, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationFaxNumber">Fax Number</label>
	<%= pi.text_field :fax_number, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationEmail">Email</label>
	<%= pi.text_field :email, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationWebsite">Website</label>
	<%= pi.text_field :website, :class => :textbox %>
</div>

<div class="form_row">
	<label>Bio / Summary</label>
	<div id="markItUpResumePersonalInformationBio" class="markItUp">
		<%= pi.text_area :bio, :class=> "markitup" %>
	</div>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationFacebook">Facebook</label>
	<%= pi.text_field :facebook, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationTwitter">Twitter</label>
	<%= pi.text_field :twitter, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationFlickr">Flickr</label>
	<%= pi.text_field :flickr, :class => :textbox %>
</div>

<div class="form_row">
	<label for="ResumePersonalInformationLinkedin">Linkedin</label>
	<%= pi.text_field :linkedin, :class => :textbox %>
</div>

<div class="clearfloat"></div>
</div>
<div class="box_bottom"></div>
<% end %>
</div>