<div class="box_top"></div>
<div class="box">
	
<div class="section_options">
	<div class="options_label">Options</div>
	
	<% section_mode = "active" %>
	
	<% if @hidden_fields.include?("skills") %>
	    <a class="enable_section" rel="skills">Enable this section</a>
	    <% section_mode = "disabled" %>
	<% else %>
	    <a class="disable_section" rel="skills">Disable this section</a>
	<% end %>
	
	<input type="hidden" class="section_mode" value="<%= section_mode %>" />
</div>

<%= render :partial => "shared/section_name_editor", :locals => {:section => "skills"} %>

<div class="clearfloat"></div>
<div class="form_row">
	
	<%= f.fields_for :resume_skill do |s| %>
		<%= s.text_area :skills, :class => :markitup %>
	<% end %>
	
	<div class="clearfloat"></div>
	
	<%= render :partial => 'shared/formatting_tips' %>
	
</div>
</div>
<div class="box_bottom"></div>