<% @title_for_layout = "Edit Resume" %>

<%= link_to ("Back to dashboard", {:controller => "dashboard", :action => "index"}) %>

<br /><br />

<% if flash[:notice] %>
	<div class="result_success"><%= flash[:notice] %></div>
	<br />
<% end %>

<div class="blue_region">
		
<%= form_for @resume do |f| %>		
	
<div id="resume_controls">
	<a class="trigger_overlay blue_btn" rel="order_sections" effect="bounce">Order Sections</a>
	<a href="/resumes/delete/1" class="red_btn delete">Delete resume</a>
	<a href="/resumes/view/trivektor" class="blue_btn" target="_blank">View live</a>	
	<a href="/resumes/select_theme/1" class="green_btn">Theme</a>	
	<a class="trigger_overlay blue_btn" rel="resume_settings" effect="shake">Settings</a>
</div>

<div class="clearfloat"></div>

<%= render :partial => "shared/resume/edit/title", :locals => {:f => f} %>

<%= render :partial => "shared/resume/edit/personal_information", :locals => {:f => f} %>

<%= render :partial => "shared/resume/edit/education", :locals => {:f => f} %>

<%= render :partial => "shared/resume/edit/skills" %>

<%= render :partial => "shared/resume/edit/field_works" %>

<%= render :partial => "shared/resume/edit/keywords" %>

<input type="image" alt="Update Resume" src="/images/resume/updateResume.png" />

<% end %>

</div>