<% @title_for_layout = "Create Resume" %>

<%= link_to "Back to dashboard", dashboard_path, :class => "go_back" %>

<div class="blue_region">

  <div class="box_top"></div>

  <div class="box">
    
    <h2><%= @title_for_layout %></h2>

    <% form_for @resume do |f| %>

      <% if !@resume.errors.empty? %>
        <%= render :partial => "shared/form_errors", :locals => {:f => f} %>
      <% end %>

	    <div class="form_row">
		    <%= f.label "Pick a URL" %>
		    <div class="eg">Your resume will be available at http://localhost:8888/resume/yoururl</div>
		    <br />
		    <%= f.text_field :url, :class => "textbox" %>
	    </div>

	    <div class="form_row">
		    <%= f.label "Title" %>
		    <%= f.text_field :title, :class => "textbox" %>
	    </div>

	    <div style="text-align:right">
			  <input type="image" alt="Submit" src="/images/resume/alrightLetsGoBtn.png" />
	    </div>
	    
	  <% end %>
	  
  </div>

  <div class="box_bottom"></div>

</div>