<% 
@title_for_layout = "Login"
@body_id = "login"
%>

<%= form_for @user_session do |f| %>

<% if @user_session.errors.count > 0 %>
  <%= render :partial => "shared/form_errors", :locals => {:f => f} %>
<% end %>

<%= render :partial => 'shared/flash_notice' %>

<div id="overlayLoginForm">
	
	<div id="overlayLoginFormInner">
		<h2 id="overlayLoginFormHeader">Login</h2>
		<div class="clearfloat"></div>
		<div style="display: none; text-align: right;" id="loginMessage"></div>
		<div class="form_row">
			<%= f.label :email %>
			<%= f.text_field :email, :class => "textbox" %>
		</div>
		<div class="form_row">
			<%= f.label :password %>
			<%= f.password_field :password, :class => "textbox" %>
		</div>
		<div id="overlayLoginFormButtons">
			<input type="image" src="/images/resume/loginFormGo.png" id="submitLoginForm" />
		</div>
		<div id="overlayLoginFormBottom">
			
			<!-- <%= link_to "Forgot Password", new_password_reset_path %> -->
		</div>
	</div>
</div>

<% end %>