<!DOCTYPE html>
<html>
<head>
  <title>Killer Resume Builder - <%= @title_for_layout %></title>
  <%= stylesheet_link_tag "master.css" %>
  <%= javascript_include_tag [
	"jquery-1.4.2.min", 
	"jquery-ui-1.8.5.custom.min", 
	"jquery.autoheight", 
	"jquery.hoverIntent",
	"jquery.imgareaselect",
	"jquery.ui.datepicker",
	"jquery.markitup",
	"jquery.markitupset",
	"master"] %>
  <%= csrf_meta_tag %>
</head>
<body id="<%=params[:body_id]%>">

<div id="container">
<%= render :partial => "shared/header" %>

<div id="content">
<%= yield %>
</div>

<div id="overlay" style="display:none"></div>

<%= render :partial => "shared/profile_overlay" unless !@current_user %>

<%= render :partial => "shared/footer" %>

</div>

</body>
</html>
